body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  background-image: url("imagenes/background");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-image {
  width: 50%;
  max-width: 400px;
  margin-bottom: 20px;
}

#search-bar {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
